div,
span {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background-color: red;
}
.container {
  background-color: yellow;
  left: 20px;
  top: 20px;
  position: relative;
}
.box1 {
  background-color: blue;
  left: 10px;
  top: 10px;
  position: fixed;
}

.box2 {
  background-color: pink;
  left: 20px;
  top: 20px;
  position: absolute;
}
.box3 {
  background-color: black;
  left: 20px;
  top: 20px;
  position: sticky;
}
