.container {
  background-color: beige;
  height: 100vh;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-between; */
}

.item {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.item1 {
  background: #ef9a9a;
  flex: 2 2 auto;
  align-self: center;
}
.item2 {
  background: red;
}
.item3 {
  background: blue;
}
.item4 {
  background: black;
}
.item5 {
  background: aqua;
}
.item6 {
  background: yellow;
}
.item7 {
  background: pink;
}
.item8 {
  background: grey;
}
.item9 {
  background: orange;
}
.item10 {
  background: darkmagenta;
}
