* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    "header header"
    "main side"
    "footer footer";
}

header {
  grid-area: header;
  background-color: #000;
  color: #fff;
}

main {
  grid-area: main;
}
aside {
  grid-area: side;
  background-color: orange;
}
footer {
  grid-area: footer;
  background-color: #000;
  color: #fff;
}
