/* basic color */
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 1.2em;
}

.color1 {
  background-color: red;
}
.color2 {
  background-color: blue;
}
.color3 {
  background-color: pink;
}
.color4 {
  background-color: violet;
}
.color5 {
  background-color: paleturquoise;
}

/* grid examples */

.container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
}

.item2 {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  grid-column: 2/4;

  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1/3;
}
